<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Krungthai Bank - Line Register</title>
	<!-- Link from BackEnd -->
	<!-- <link rel="stylesheet" th:href="@{/css/project.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/sweetalert2.js}"></script>
	<link rel="stylesheet" th:href="@{/css/sweetalert2.css}"> -->
	<!-- Link from BootStrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<!-- Link Css File -->
	<link rel="stylesheet" href="project.css" type="text/css">
	<!-- <link rel="stylesheet" href="style.css" type="text/css"> -->
</head>

<body>
	<div id="container" class="container" >
		<!-- Header -->
		<div id="header">
			<div id="message1" class="header text-center">เลือกบัญชี</div>
			<div id="message2" class="text-center">เพื่อรับบริการแจ้งเตือนผ่าน Krungthai Connext</div>
			<div id="message3" class="text-center">เฉพาะบัญชีออมทรัพย์และกระแสเงินสดเท่านั้น</div>
		</div>
		<!-- select account -->
		<div id="contents" class="contents" >
			<div id="listAccounts" class="items" ></div>
		</div>
		<!-- footer -->
		<div id="footer" class="footer container" >
			<div>
				<div id="seemore" class="text-krungthai" onclick="seemoreAccounts()">แสดงบัญชีเพิ่มเติม</div>
				<button type="button" id="acceptButtonEng" onclick="sendSaveChooseAccount()" class="btn btn-block btn-primary btn-lg"
				 disabled='disabled'>ยืนยัน</button>
			</div>
		</div>
	</div>
</body>
<!-- Script BackEnd -->
<script th:inline="javascript">
        /*<![CDATA[*/
            // var accountList = /*[[${ACCOUNT_LIST}]]*/
            // alert(accountLIST);
        /*]]>*/
</script>
<!-- <script type="text/javascript" th:src="@{/js/project.js}"></script>
<script type="text/javascript" th:src="@{/js/chooseAccountNoti.js}"></script> -->
<!-- -------------- -->

<!-- P'Nook Script *.JS -->
<script src="chooseAccountNoti.js"></script>
<!-- <script src="project.js"></script> -->

<!-- My Script -->
<!-- <script src="script.js"></script> -->

</html>