@font-face {
	font-family: krungthaiFast;
	src: url(../font/KrungthaiFast-Regular.ttf);
}

body {
	background-image: url("../images/bg-white@3x.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: krungthaiFast !important;
	font-size: 16px;
	width: 100%;
	height: 100%;
	background-color: white;
}

.btn-default {
	color: #00a6e6 !important;
	background-color: #fff !important;
	border-color: #00a6e6 !important;
}

.btn-primary {
	color: #fff !important;
	background-color: #00a6e6 !important;
	border-color: #00a6e6 !important;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	opacity: .4 !important;
	background-color: #00a6e6 !important;
}

.header {
	text-align: center;
	font-family: KrungthaiFast;
	font-size: 20px;
	color: #000000;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	text-align: center;
	background-color: rgba(1, 1, 1, 0);
}

.swal2-popup .swal2-styled.swal2-confirm {
	background-color: #00a6e6 !important;
	color: #fff !important;
}

.swal2-popup .swal2-content {
	font-size: 1.6em !important;
}

.swal2-popup .swal2-title {
	font-size: 2em !important;
}

.text-krungthai {
	color: #00a6e6;
}

/* ********************* Few ********************** */
#header,#footer,#contents{
	position: absolute;
	right: 0;
	left: 0;
}
#header{
	height: 100px;
	top: 0;
	text-align: center;
	padding-top: 10px;
	background: white;
}
#footer{
	height: 84px;
	bottom: 0;
	margin-bottom: 5%;
	/* background: white; */
}
#contents{
	position: fixed;
	top: 90px;
	bottom: 120px;
	overflow-y: scroll;
	margin-top: 10px;
}
.acc {
	display: block;
	background-color: white;
	padding: 20px 20px;
	margin-top: 1%;
	border: 1px solid;
	border-radius: 5px;
}
.item {
	background-color: white;
	margin-left:10px;
	margin-right:10px;
	border: 1px solid rgba(106, 108, 109, 0.685);
	border-radius: 5px;
	margin-top: 10px;
}
/* .label{
	display: block;
	background-color: white;
	margin-left:10px;
	margin-right:10px;
	border: 1px solid rgba(106, 108, 109, 0.685);
	border-radius: 5px;
	margin-top: 10px;
} */
.isSelected {
	border-color : #00a6e6ff;
}
#seemore{
	margin-top: 10px;
	margin-bottom: 10px;
}
/* ********************* Few ********************** */