/* Import Font */
/* @import url('https://fonts.googleapis.com/css?family=Kanit|Prompt'); */

/* .body{
  width: 100%;
  height: 100%;
} */

/* .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.message1{
  font-size: 18px;
  font-weight: bold;
  margin-top: 2%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 2%;
  /* font-family: 'Kanit', sans-serif; */
}

.message2{
  font-size: 100%;
  text-align: center;
  /* font-family: 'Kanit', sans-serif; */
  /* margin-top: %; */
}

.message3{
  font-size: 12px;
  color: gray;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 2px;
  padding-bottom: 5px;
}

/* .seemore{
  color:#13a0e2;
  background: white;
  border-radius: 5%;
  font-size: 12px;
  text-align: center;
  padding-top: 10px;
  margin-top: 12px;
  margin-bottom: 0%;
  font-family: 'Kanit', sans-serif;
} */

/* .btn{
  height: 30%;
  width: 90%;
  padding: 1.2%;
  margin-top: 10px;
  margin-bottom: 4%;
} */

/* .checkbox-text{
  font-family: 'Prompt', sans-serif;
  font: 20px/24px;
} */

/* .item {
  background:white;
  padding: 20px 20px;
  margin-top: 1px;
  border: 1px solid rgba(7, 139, 226, 0.685);
  border-radius: 5px;
  margin-bottom: 10px;
} */

/* label {
  display: block;
  padding: 20px 20px;
  margin-top: 1%;
  font: 18px;
  background-color: white;
  border : 1px solid rgba(7, 139, 226, 0.685);
  border-radius: 7px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 12px;
} */

/* .items{
  background-color:white;
  overflow-y: auto;
  overflow-x: hidden;
  height: 420px;
} */

/* .content{
  margin-top: 10px;
  padding-top: 2px;
} */

.footer{
  position: fixed;
  left: 0;
	bottom: 0;
	width: 100%;
}

label {
  display: block;
  background-color: white;
 }
 
 .item {
  background-color: white;
  padding: 20px 20px;
  margin-left:10px;
  margin-right:10px;
  border: 1px solid black;
  border-radius:5px;
  margin-bottom:12px;
 }
 .items {
  overflow-y: auto;
  height: 32rem;
 }
 
 .content {
  margin-top: 10px;
  padding-top: 2px;
  margin-bottom: 5%;
 }